.PokemonCard {
  background-color: var(--white-color);
  width: 100%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 30px;
}

.PokemonCard__image {
  width: 100%;
  max-height: 120px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.PokemonCard__image img {
  max-width: 120px;
  height: 120px;
  object-fit: scale-down;
}

.PokemonCard__name {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.PokemonCard__description {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-bottom: 20px;
}

.PokemonCard__description li {
  background-color: rgb(211, 211, 211);
  padding: 8px 16px;
  border-radius: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin-top: 1rem;
}
