.PokemonDetails {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.PokemonDetails__images {
  width: 40%;
}

.PokemonImage, .PokemonComplementaryImage {
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
}

.PokemonImage, .PokemonComplementaryImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PokemonDetails__images img {
  width: 170px;
}

.PokemonDetails__content {
  width: 60%;
  padding-left: 1.1rem;
}

.SectionInfo.Stats strong {
  text-transform: capitalize;
}

.PokemonDetails__content h1 {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.PokemonDetails__content h2 {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.AboutPokemon {
  width: 90%;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: -12px;
  margin-bottom: 15px;

  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TypesPokemon {
  width: auto;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.TypesPokemon li {
  background-color: #818181;
  list-style: none;
  padding: 8px 16px;
  border-radius: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: var(--white-color);
  margin-top: -15px;
  margin-bottom: 1rem;
}

.TypesPokemon li:not(:first-child) {
  margin-left: 10px;
}

.SectionInfo p {
  margin-bottom: 1rem;
}
