header {
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 3rem;
  margin-bottom: 2rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
